<!DOCTYPE html>
<html ng-app="demo">

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <style>
        .image-container {
            width: 300px;
            height: 300px;
            border-style: solid;
            border-color: black;
            float: left;
        }
        
        .original-image {
            width: 300px;
            border-style: solid;
            border-color: black;
        }
        
         .original-image img{
            width: 100%;
        }
    </style>
    <link href="whirl.min.css" rel="stylesheet" />

    <title>Angular-imagefit by tushariscoolster</title>
</head>

<body ng-controller="demoController">
    <header>
        <div class="inner">
            <h1>Angular-imagefit</h1>
            <h2>imagefit library for angular js</h2>
            <a href="https://github.com/tushariscoolster/angular-imagefit" class="button"><small>View project on</small> GitHub</a>
        </div>
    </header>

    <div id="content-wrapper">
        <div class="inner clearfix">
            <section id="main-content">
<input type="button" ng-click="image2=image1" value="change"/>
                <input type="button" ng-click="image2=errorimage" value="error"/>
                
                <h3>Fit Image</h3>
                <div class="image-container">
                    
                    <img  imagefit imagefit-error-src="http://www.paolobugatti.com/img/img-default.png" imagefit-option="check" ng-src="{{image2}}" />
                </div>
                <div style="float:right">
                  <h3>Original Image</h3>
                <div class="original-image">
                <img   ng-src="{{image2}}" />
                </div>
</div>
            </section>

            <aside id="sidebar">
                <a href="https://github.com/tushariscoolster/angular-imagefit/zipball/master" class="button">
                    <small>Download</small> .zip file
                </a>
                <a href="https://github.com/tushariscoolster/angular-imagefit/tarball/master" class="button">
                    <small>Download</small> .tar.gz file
                </a>

                <p class="repo-owner">
                    <a href="https://github.com/tushariscoolster/angular-imagefit"></a> is maintained by <a href="https://github.com/tushariscoolster">tushariscoolster</a>.</p>

                <p>This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the Architect theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>
            </aside>
        </div>
    </div>
    <script src="jquery-1.11.3.min.js"></script>
    <script src="angular.min.js"></script>
    <script src="jquery.imagefit.js"></script>
    <script src="angular-imagefit.js"></script>
    <script src="image-scale.js"></script>
    <script>
        (function () {
            'use strict';
            angular
                .module('demo', ['angular-imagefit'])


            angular
                .module('demo')
                .controller('demoController', demoController);

            demoController.$inject = ['$scope'];

            /* @ngInject */
            function demoController($scope) {
                var vm = this;
                vm.property = 'demoController';


                activate();

                ////////////////

                function activate() {

                    $scope.defaultImage = "http://www.paolobugatti.com/img/img-default.png"
                    $scope.image1 = "http://wowslider.com/sliders/demo-5/data/images/saarschleife.jpg"
                    $scope.image2 = "http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image1.jpg"
                      $scope.errorimage = "http://www.keenthemes.com/preview/metrobal/plugins/jcrop/demos/demo_files/image1.jpg"
                    $scope.check = {
    
                    }

                }
            }
        })();
    </script>

</body>

</html>